.custom-label {
    margin-bottom: 58px !important;
}

.custom-radio {
    background-color: #ffffff;
    /* Color de fondo */
    /* Borde del radio */
}

.custom-button-register {
    --border-radius: 16px;
    text-transform: capitalize;
    margin-top: 27px;
    width: 90%;
    margin-bottom: 30px;
    height: 50px;
}

.sign-center {
    text-align: center;
}